# SKIP_DOWNLOAD=1
SAVE_PATH=result_folder
# btoa(JSON.stringify([{
#     // https://www.npmjs.com/package/israeli-bank-scrapers
#     // https://github.com/eshaham/israeli-bank-scrapers/blob/master/src/definitions.ts#L6
#     options: {companyId: "isracard"},
#     creds: {
#         id: "", card6Digits: "", password: ""
#     }
# }]))
CONFIG=
# S3_BUCKET=

# WEBHOOK_ERROR
# WEBHOOK_DIFF
# WEBHOOK_RESULT